<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		{% include gatrack.html %}
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/contact">Contact</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:gao.chen@outlook.com">email</a></li>
        		<li><a href="https://kl-g.github.io">kl-g.github.io</a></li>
			</ul>
		</footer>
	</body>
</html>
